C_ile_programlama/a.out
C_ile_programlama/donguler/artkyil
C_ile_programlama/donguler/asal_mi
C_ile_programlama/donguler/asallar
C_ile_programlama/donguler/girilen_enbuyuk
C_ile_programlama/donguler/goto_komutu
C_ile_programlama/donguler/ikiz_asal
C_ile_programlama/donguler/nested_piramid
C_ile_programlama/donguler/obeb
C_ile_programlama/donguler/ornek_calismalar
C_ile_programlama/donguler/ortalama_do
C_ile_programlama/donguler/ortalama_while
C_ile_programlama/donguler/palindrom_zaman
C_ile_programlama/donguler/sacma_bi_program
C_ile_programlama/donguler/toplamlari
C_ile_programlama/donguler/while_komutu
C_ile_programlama/fonksiyonlar/deneme
C_ile_programlama/fonksiyonlar/parametre_return_yok
C_ile_programlama/input-output/format_deneme
C_ile_programlama/input-output/harmonik_ortalama
C_ile_programlama/input-output/koni_hacmi
C_ile_programlama/input-output/orta_nokta
C_ile_programlama/input-output/ucgen_alani
C_ile_programlama/input-output/yay_alani
C_ile_programlama/kontrol/en_buyugu
C_ile_programlama/kontrol/gecti_mi
C_ile_programlama/kontrol/harf_notu
C_ile_programlama/kontrol/olusabilecek_en_buyuk
C_ile_programlama/kontrol/palindrom_mu
C_ile_programlama/kontrol/pozitif_negatif
C_ile_programlama/kontrol/siralama
C_ile_programlama/kontrol/uclu_operand
C_ile_programlama/kontrol/yarim_kare
C_ile_programlama/merhaba
